@import url("https://fonts.googleapis.com/css?family=Baloo+Da+2&display=swap");

body {
    margin: 0px;
    overflow: hidden;
    font-family: "Baloo Da 2", cursive;
    background-color: rgb(32, 32, 32);
    color: white;
}

.world-main-container {
    height: 100vh;
    width: 100vw;
}

.world-main-container {
    div {
        height: 100vh;
    }
}

.world-main-container-right div:nth-child(1) {
    min-height: 45vh;
    max-height: 45vh;
    overflow: hidden;
}

.world-main-container-right div:nth-child(2) {
    min-height: 55vh;
    max-height: 55vh;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

#map-container {
    height: 603px;
    width: 468px;
}

.world-main-container-flags {
    height: 100%;
    .world-flag {
        width: 90%;
        cursor: pointer;
        border: solid 1px darkgrey;
        opacity: .5;
    }
    .selected-flag {
        opacity: 1;
    }
}

#country-population-body {
    height: 400px;
    width: 500px;
}

.world-ocean {
    fill: #285d8f
}

.map-country {
    fill: orange;
}
