@import url("https://fonts.googleapis.com/css?family=Baloo+Da+2&display=swap");

body {
    margin: 0px;
    overflow: auto;
    font-family: "Baloo Da 2", cursive;
    background-color: #180242;
    color: white;
}

.world-main-container{
    .world-main-container-left {
        border: solid 1px red;
        height:100vh;
    }
    .world-main-container-right {
        border: solid 1px blue;
        height:100vh;
    }
}


#map-container {
    width:420px;
    height:420px;
}

.world-country-list-container{
    .world-flag {
        cursor: pointer;
        opacity: 0.5;
        height:64px;
    }
    .selected-flag {
        opacity: 1;
    }
}

#country-population-body {
    height: 400px;
    width: 500px;
}

.world-ocean {
    fill: #285d8f;
}

#particles-js {
    div {
        canvas {
            position: absolute;
            z-index: -1;
        }
    }
}

#country-population-body{
    width:510px;
    height:220px;
    border: solid 1px purple;
}