@import url("https://fonts.googleapis.com/css?family=Baloo+Da+2&display=swap");

body {
    margin: 0px;
    overflow: auto;
    font-family: "Baloo Da 2", cursive;
    background-color: #0e0422;
    color: white;
    width:100vw;
}

.world-main-container{
    .world-main-container-left {
        height:100vh;
        padding: 0px 28px 0px 20px;
        text-align: justify;
    }
    .world-main-container-right {
        height:100vh;
        padding:10px;
        .world-flag {
            cursor: pointer;
            opacity: 0.5;
            height:64px;
        }
        .selected-flag {
            opacity: 1;
        }
    }
}


#map-container {
    width:400px;
    height:420px;
}

#country-population-body {
    height: 400px;
    width: 500px;
}

.world-ocean {
    fill: #043d72;
}

#particles-js {
    div {
        canvas {
            position: absolute;
            z-index: -1;
        }
    }
}

#country-population-body{
    width:390px;
    height:220px;
    margin-bottom: 10px;
}

.loading-container{
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img{
        height:200px
    }
}